:root {
  --brand-bg-green: #edf2f0;
  --brand-dark-red: #d63c5e;
  --brand-light-green: #6da886;
  --brand-black: #212529;
  /* Colors from Figma  */
  --brand-cool-background: #fed32f;
  --brand-cool-border: rgb(0, 0, 0);
  --brand-cool-dark-text: #000000;
  --brand-cool-light-text: #000000;
  --brand-cool-accent: #ffffff;
  --brand-warm-background: #fed32f;
  --brand-warm-border: rgb(0, 0, 0);
  --brand-warm-dark-text: #221b1a;
  --brand-warm-light-text: #000000;
  --brand-warm-accent: #ffffff;
  --brand-gray-dark-text: #000000;
  --brand-gray-border: #000000;
  --brand-gray-background: #fed32f;
  --brand-gray-light-text: #000000;
  --brand-gray-light-text-translucent: rgb(140, 141, 146, 0.1);
  --brand-gray-hover: #fafafb;
  --brand-color-red: #fed32f;
  --brand-color-blue: #fed32f;
  --brand-color-green: #43b369;
  --brand-color-red-translucent: rgba(214, 60, 94, 0.1);
  --brand-color-blue-translucent: rgba(73, 101, 240, 0.1);
  --brand-color-green-translucent: rgba(67, 179, 105, 0.1);
}
